body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image: url('projects/images/7068.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #666;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.project-box {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value (0.8) to change transparency */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    margin-bottom: 60px;
}

.project-box h2 {
    color: #333;
}

.project-box p {
    color: #666;
}

.project-box a {
    color: #007bff;
    text-decoration: none;
}

.project-box a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Additional styles for gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
    border-color: #333;
}